* {
    font-family: "Times New Roman", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: darkblue;
    text-align: center;
    margin: 10px 0;
}

p {
    font-size: 18px;
    margin: 15px 0;
    text-align: justify;
}

strong {
    color: #333;
}

em {
    color: darkred;
}

mark {
    background-color: yellow;
    padding: 2px 4px;
    border-radius: 3px;
}

hr {
    border: 0;
    height: 2px;
    background-color: #4CAF50;
    margin: 20px 0;
}
